:root {
  /** colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #1e7bd5;
  --color-primary-active: #206eb3;
  --color-primary-hover: #4384c7;
  --color-background: #cbcfd9;
}
