.clickable {
  cursor: pointer;
}

.container {
  background-color: var(--color-layout-alpha-01);
  backdrop-filter: blur(5px);
}

.accentIcon {
  fill: var(--color-primary);
}

.page {
  padding: 0.5rem;
  .pageBody {
    margin-top: 1rem;
  }
}

.mt1 {
  margin-top: 1rem;
}
