$expandDelay: 200ms;

.root {
  height: 100vh;
  resize: vertical;
  padding: 0.5rem;
  width: 2rem;
  transition: width $expandDelay linear;
  .sidebarHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .themeToggler {
    visibility: hidden;
    display: none;
  }
  .sidebarButton {
    //background: red;
  }
  &.expanded {
    width: 20rem;
    .themeToggler {
      display: inherit;
      animation: $expandDelay fadeIn forwards;
    }
  }
}


@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

