.root {
  display: grid;
  overflow-y: scroll;
  .header {
    font-size: 0.65rem;
    color: var(--color-text-secondary)
  }
  & > * {
    border-bottom: 1px solid gray;
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}