.root {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  .tHeaders {
    font-size: 0.8rem;
    color: var(--color-text-secondary);
    flex: 0 1;
  }
  .tBody {
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .tRow,
  .tHeaders {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: 1px solid var(--color-text-secondary);
  }
  .tRow {
    font-size: 0.8rem;
    flex: 1;
    cursor: pointer;
    &:hover {
      background-color: var(--color-layout-alpha-01);
    }
  }
  .tCell,
  .tHeader {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .tHeader:not(:last-child) {
    border-right: 1px solid var(--color-text-secondary);
  }
}
